/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Overall Site Structure
  5.1 Header
6.0 Navigation
  6.1 Links
  6.2 Menus
7.0 Content
  7.1 Posts and pages
8.0 Widgets
11.0 Clearings
14 Media Queries
  14.1 Phone-sized devices
  14.2 Tablets and up
  14.3 Desktops and big things

--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    /* Apply a natural box layout model to the document; see
    http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    box-sizing: border-box;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set
    using em units http://clagnut.com/blog/348/#c790 */
    font-size: 62.5%;
    /* Keeps page centered in all browsers regardless of content height */
    overflow-y: scroll;

    /* Prevents iOS text size adjust after orientation change, without
    disabling user zoom
    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for
    components that leverage other behavior; see
    http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    /* Fallback for when there is no custom background color defined. */
    background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}


/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #363431;
    font-family: "Libre Baskerville", Baskerville, "Book Antiqua", Georgia, Times, serif;
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.6;
}

h1 {
    color: #a09a92;
    font-family: "Playfair Display", Georgia, serif;
    font-size: 44px;
    font-size: 4.4rem;
    font-style: italic;
    margin: 1em 0 0.5em;
}

h2 {
    border-bottom: 1px solid #787065;
    color: #787065;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-size: 2.1rem;
    letter-spacing: 2px;
    margin: 2em 0 2em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

h3 {
    color: #a09a92;
    font-size: 25px;
    font-size: 2.5rem;
    font-style: italic;
    margin: 2em 0 1em;
}

h4 {
    color: #787065;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 3em 0 1.5em;
    text-transform: uppercase;
}

h5 {
    color: #a09a92;
    font-size: 21px;
    font-size: 2.1rem;
    font-style: italic;
    margin: 1.5em 0 0.75em;
}

h6 {
    color: #787065;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin: 1.5em 0 0.75em;
    text-transform: uppercase;
}

p {
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    color: #a09a92;
    font-family: "Playfair Display", Georgia, serif;
    font-size: 28px;
    font-size: 2.8rem;
    font-style: italic;
    line-height: 1.4;
    position: relative;
    z-index: 10000;
}

blockquote::before {
    color: #ebe7e1;
    content: "\201C";
    display: block;
    font-size: 208px;
    font-size: 20.8rem;
    font-style: normal;
    left: -35px;
    line-height: 1;
    position: absolute;
    top: -40px;
    z-index: -1;
}

blockquote cite {
    color: #787065;
    float: right;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: 1em;
    text-transform: uppercase;
}

blockquote cite::before {
    content: "\2013";
    display: inline;
}

blockquote.alignleft,
blockquote.alignright {
    background: #fff;
    border-bottom: 1px solid #ebe7e1;
    border-top: 2px solid #a09a92;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.025);
    font-size: 27px;
    font-size: 2.7rem;
    max-width: 75%;
    padding: 0.5em;
}

blockquote.alignleft p:last-of-type,
blockquote.alignright p:last-of-type {
    margin-bottom: 0;
}

blockquote.alignleft::before,
blockquote.alignright::before {
    display: none;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #d9d6d0;
    font-family: "Droid Sans Mono", "Andale Mono", Consolas, "DejaVu Sans Mono", monospace;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 1.6em;
    white-space: pre;
    white-space: pre-wrap;
}

code,
kbd,
tt,
var {
    font-family: "Droid Sans Mono", "Andale Mono", Consolas, "DejaVu Sans Mono", monospace;
    font-size: 16px;
    font-size: 1.6rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #a09a92;
    cursor: help;
}

mark,
ins {
    background: #faf9f5;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

strong em,
em strong,
b i,
i b,
b em,
em b,
strong i,
i strong,
.wp-caption strong {
    background: rgba(234, 233, 230, 0.5);
    color: #787065;
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 0;
    text-transform: uppercase;
}

em code,
strong code,
i code,
b code {
    font-style: normal;
    font-weight: normal;
}

/* Prettier select colours for insane people like me who select text constantly
while reading */
::selection {
    background: #eae9e6;
    color: #787065;
}

::-moz-selection {
    background: #eae9e6;
    color: #787065;
}


/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
    background-color: #d9d6d0;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 1em;
}

ul {
    list-style: disc outside;
}

ul ul {
    list-style: circle outside;
}

ol {
    list-style: decimal outside;
}

ol ol {
    list-style: lower-alpha outside;
}

li {
    line-height: 1.6;
    margin: 0.5em 0;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    /* Make sure images are scaled correctly. */
    height: auto;
    /* Adhere to container width. */
    max-width: 100%;
}

figure {
    margin: 0;
}

table {
    font-size: 0.85em;
    line-height: 1.4;
    margin: 0.5em 0 1.5em;
    width: 100%;
}

tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.5);
}

th,
td {
    border-bottom: 1px solid #d9d6d0;
    padding: 0.8em 1em;
}

th {
    font-style: italic;
}

thead:nth-of-type(odd) tr {
    background: none;
}

thead th {
    border-width: 2px;
    color: #a09a92;
    font-style: normal;
    font-weight: bold;
    padding: 0.4em 1em;
}

tr:hover {
    background: #a09a92;
}


/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
    /* Corrects font size not being inherited in all browsers */
    font-size: 100%;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    margin: 0;
    /* Improves appearance and consistency in all browsers */
    vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    /* Improves usability and consistency of cursor style between image-type
    'input' and others */
    cursor: pointer;

    /* Corrects inability to style clickable 'input' types in iOS */
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
    /* Addresses box sizing set to content-box in IE8/9 */
    box-sizing: border-box;
    /* Addresses excess padding in IE8/9 */
    padding: 0;
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4
    www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    background: rgba(255, 255, 255, 0.75);
    border: 0;
    border-bottom: 2px solid #a09a92;
    color: #a09a92;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
    padding: 1.2rem 1.4rem;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #fff;
    border: 1px solid #d9d6d0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    color: #363431;
    outline: none;
}

textarea {
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    overflow: auto;
    /* Improves readability and alignment in all browsers */
    vertical-align: top;
    width: 100%;
}

/* Vendor prefixes for placeholder text */
::-webkit-input-placeholder {
    color: #d9d6d0;
}

::-moz-placeholder {
    color: #d9d6d0;
}

:-ms-input-placeholder {
    color: #d9d6d0;
}

/* Submit buttons */
.form-submit,
.contact-submit,
form p {
    margin: 1em 0;
    text-align: center;
}

input[type="submit"],
button {
    background: #a09a92;
    border: 1px solid #eae9e6;
    color: #eae9e6;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    outline: 4px solid #a09a92;
    padding: 0.7rem 1.4rem;
    position: relative;
    text-transform: uppercase;
}

input[type="submit"]:hover,
button:hover {
    background: #a09a92;
    color: #faf9f5;
    outline: 2px solid #a09a92;
}

input[type="submit"]:active,
button:active {
    background: #363431;
    outline: 5px solid #363431;
}

/* Labels */
label {
    color: #a09a92;
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic;
    text-align: left;
}

label span {
    font-size: 0.9em;
    padding-left: 2px;
}

/* Selected text */
input::selection {
    background: #eae9e6;
}

input::-moz-selection {
    background: #eae9e6;
}


/*--------------------------------------------------------------
5.0 Overall Site Structure
--------------------------------------------------------------*/
body {
    background: #f2f1ed;
}

.site-content {
    margin: 4rem auto;
    max-width: 880px;
    padding: 0;
    width: auto;
}

.widget {
    margin: 4rem auto;
    max-width: 880px;
    padding: 0;
    width: auto;
}


/*--------------------------------------------------------------
  5.1 Header
--------------------------------------------------------------*/
.nav-bar {
    background: #fAf9f5;
    border-bottom: 1px solid #d9d6d0;
    position: relative;
    width: 100%;
}

.nav-bar:after {
    clear: both;
    content: "";
    display: block;
}

.site-branding h1 {
    color: #a09a92;
    font-family: "Playfair Display";
    font-size: 36px;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

/* Style page title blocks */
.title-block {
    text-align: center;
}

.title-block h1 {
    font-style: normal;
    line-height: 1.2;
    margin: 0;
}

/* If header image is not present */
body:not(.libretto-has-header-image) .title-block {
    margin: 2rem auto;
    max-width: 680px;
}


/*--------------------------------------------------------------
  5.2 Footer
---------------------------------------------------------------*/

@font-face {
  font-family: 'simple-line-icons';
  src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0');
  src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('../fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('../fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('../fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('../fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.site-footer .site-info {
    color: #a09a92;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.site-footer a {
    color: #787065;
}

.site-footer .site-info p {
    margin-bottom: 0;
}

.social ul {
    list-style-type: none;
    margin-bottom: 0;
}

.social li {
    display: inline;
}

.social a:before {
    background: #d9d6d0;
    border-radius: 2px;
    color: #faf9f5;
    content: "y";
    display: inline-block;
    font-size: 22px;
    height: 30px;
    line-height: 26px;
    padding: 2px;
    text-align: center;
    text-shadow: none;
    transition: background-color 0.75s ease;
    width: 30px;
}

.social a:hover:before {
    background-color: #787065;
}

/* Icons */

/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:
*/
.icon-user,
.icon-people,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-login,
.icon-logout,
.icon-emotsmile,
.icon-phone,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-map,
.icon-location-pin,
.icon-direction,
.icon-directions,
.icon-compass,
.icon-layers,
.icon-menu,
.icon-list,
.icon-options-vertical,
.icon-options,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-arrow-left-circle,
.icon-arrow-right-circle,
.icon-arrow-down-circle,
.icon-check,
.icon-clock,
.icon-plus,
.icon-minus,
.icon-close,
.icon-event,
.icon-exclamation,
.icon-organization,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-mustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-disc,
.icon-cursor,
.icon-cursor-move,
.icon-crop,
.icon-chemistry,
.icon-speedometer,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglass,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-folder-alt,
.icon-folder,
.icon-film,
.icon-feed,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-doc,
.icon-diamond,
.icon-cup,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-frame,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-loop,
.icon-home,
.icon-grid,
.icon-graph,
.icon-microphone,
.icon-music-tone-alt,
.icon-music-tone,
.icon-earphones-alt,
.icon-earphones,
.icon-equalizer,
.icon-like,
.icon-dislike,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-calendar,
.icon-bulb,
.icon-chart,
.icon-ban,
.icon-bubble,
.icon-camrecorder,
.icon-camera,
.icon-cloud-download,
.icon-cloud-upload,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symbol-female,
.icon-symbol-male,
.icon-target,
.icon-credit-card,
.icon-paypal,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-facebook,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-github,
.icon-social-google,
.icon-social-reddit,
.icon-social-skype,
.icon-social-dribbble,
.icon-social-behance,
.icon-social-foursqare,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-stumbleupon,
.icon-social-youtube,
.icon-social-dropbox,
.icon-social-vkontakte,
.icon-social-steam,
.social a:before {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e005";
}
.icon-people:before {
  content: "\e001";
}
.icon-user-female:before {
  content: "\e000";
}
.icon-user-follow:before {
  content: "\e002";
}
.icon-user-following:before {
  content: "\e003";
}
.icon-user-unfollow:before {
  content: "\e004";
}
.icon-login:before {
  content: "\e066";
}
.icon-logout:before {
  content: "\e065";
}
.icon-emotsmile:before {
  content: "\e021";
}
.icon-phone:before {
  content: "\e600";
}
.icon-call-end:before {
  content: "\e048";
}
.icon-call-in:before {
  content: "\e047";
}
.icon-call-out:before {
  content: "\e046";
}
.icon-map:before {
  content: "\e033";
}
.icon-location-pin:before {
  content: "\e096";
}
.icon-direction:before {
  content: "\e042";
}
.icon-directions:before {
  content: "\e041";
}
.icon-compass:before {
  content: "\e045";
}
.icon-layers:before {
  content: "\e034";
}
.icon-menu:before {
  content: "\e601";
}
.icon-list:before {
  content: "\e067";
}
.icon-options-vertical:before {
  content: "\e602";
}
.icon-options:before {
  content: "\e603";
}
.icon-arrow-down:before {
  content: "\e604";
}
.icon-arrow-left:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-up:before {
  content: "\e607";
}
.icon-arrow-up-circle:before {
  content: "\e078";
}
.icon-arrow-left-circle:before {
  content: "\e07a";
}
.icon-arrow-right-circle:before {
  content: "\e079";
}
.icon-arrow-down-circle:before {
  content: "\e07b";
}
.icon-check:before {
  content: "\e080";
}
.icon-clock:before {
  content: "\e081";
}
.icon-plus:before {
  content: "\e095";
}
.icon-minus:before {
  content: "\e615";
}
.icon-close:before {
  content: "\e082";
}
.icon-event:before {
  content: "\e619";
}
.icon-exclamation:before {
  content: "\e617";
}
.icon-organization:before {
  content: "\e616";
}
.icon-trophy:before {
  content: "\e006";
}
.icon-screen-smartphone:before {
  content: "\e010";
}
.icon-screen-desktop:before {
  content: "\e011";
}
.icon-plane:before {
  content: "\e012";
}
.icon-notebook:before {
  content: "\e013";
}
.icon-mustache:before {
  content: "\e014";
}
.icon-mouse:before {
  content: "\e015";
}
.icon-magnet:before {
  content: "\e016";
}
.icon-energy:before {
  content: "\e020";
}
.icon-disc:before {
  content: "\e022";
}
.icon-cursor:before {
  content: "\e06e";
}
.icon-cursor-move:before {
  content: "\e023";
}
.icon-crop:before {
  content: "\e024";
}
.icon-chemistry:before {
  content: "\e026";
}
.icon-speedometer:before {
  content: "\e007";
}
.icon-shield:before {
  content: "\e00e";
}
.icon-screen-tablet:before {
  content: "\e00f";
}
.icon-magic-wand:before {
  content: "\e017";
}
.icon-hourglass:before {
  content: "\e018";
}
.icon-graduation:before {
  content: "\e019";
}
.icon-ghost:before {
  content: "\e01a";
}
.icon-game-controller:before {
  content: "\e01b";
}
.icon-fire:before {
  content: "\e01c";
}
.icon-eyeglass:before {
  content: "\e01d";
}
.icon-envelope-open:before {
  content: "\e01e";
}
.icon-envelope-letter:before {
  content: "\e01f";
}
.icon-bell:before {
  content: "\e027";
}
.icon-badge:before {
  content: "\e028";
}
.icon-anchor:before {
  content: "\e029";
}
.icon-wallet:before {
  content: "\e02a";
}
.icon-vector:before {
  content: "\e02b";
}
.icon-speech:before {
  content: "\e02c";
}
.icon-puzzle:before {
  content: "\e02d";
}
.icon-printer:before {
  content: "\e02e";
}
.icon-present:before {
  content: "\e02f";
}
.icon-playlist:before {
  content: "\e030";
}
.icon-pin:before {
  content: "\e031";
}
.icon-picture:before {
  content: "\e032";
}
.icon-handbag:before {
  content: "\e035";
}
.icon-globe-alt:before {
  content: "\e036";
}
.icon-globe:before {
  content: "\e037";
}
.icon-folder-alt:before {
  content: "\e039";
}
.icon-folder:before {
  content: "\e089";
}
.icon-film:before {
  content: "\e03a";
}
.icon-feed:before {
  content: "\e03b";
}
.icon-drop:before {
  content: "\e03e";
}
.icon-drawer:before {
  content: "\e03f";
}
.icon-docs:before {
  content: "\e040";
}
.icon-doc:before {
  content: "\e085";
}
.icon-diamond:before {
  content: "\e043";
}
.icon-cup:before {
  content: "\e044";
}
.icon-calculator:before {
  content: "\e049";
}
.icon-bubbles:before {
  content: "\e04a";
}
.icon-briefcase:before {
  content: "\e04b";
}
.icon-book-open:before {
  content: "\e04c";
}
.icon-basket-loaded:before {
  content: "\e04d";
}
.icon-basket:before {
  content: "\e04e";
}
.icon-bag:before {
  content: "\e04f";
}
.icon-action-undo:before {
  content: "\e050";
}
.icon-action-redo:before {
  content: "\e051";
}
.icon-wrench:before {
  content: "\e052";
}
.icon-umbrella:before {
  content: "\e053";
}
.icon-trash:before {
  content: "\e054";
}
.icon-tag:before {
  content: "\e055";
}
.icon-support:before {
  content: "\e056";
}
.icon-frame:before {
  content: "\e038";
}
.icon-size-fullscreen:before {
  content: "\e057";
}
.icon-size-actual:before {
  content: "\e058";
}
.icon-shuffle:before {
  content: "\e059";
}
.icon-share-alt:before {
  content: "\e05a";
}
.icon-share:before {
  content: "\e05b";
}
.icon-rocket:before {
  content: "\e05c";
}
.icon-question:before {
  content: "\e05d";
}
.icon-pie-chart:before {
  content: "\e05e";
}
.icon-pencil:before {
  content: "\e05f";
}
.icon-note:before {
  content: "\e060";
}
.icon-loop:before {
  content: "\e064";
}
.icon-home:before {
  content: "\e069";
}
.icon-grid:before {
  content: "\e06a";
}
.icon-graph:before {
  content: "\e06b";
}
.icon-microphone:before {
  content: "\e063";
}
.icon-music-tone-alt:before {
  content: "\e061";
}
.icon-music-tone:before {
  content: "\e062";
}
.icon-earphones-alt:before {
  content: "\e03c";
}
.icon-earphones:before {
  content: "\e03d";
}
.icon-equalizer:before {
  content: "\e06c";
}
.icon-like:before {
  content: "\e068";
}
.icon-dislike:before {
  content: "\e06d";
}
.icon-control-start:before {
  content: "\e06f";
}
.icon-control-rewind:before {
  content: "\e070";
}
.icon-control-play:before {
  content: "\e071";
}
.icon-control-pause:before {
  content: "\e072";
}
.icon-control-forward:before {
  content: "\e073";
}
.icon-control-end:before {
  content: "\e074";
}
.icon-volume-1:before {
  content: "\e09f";
}
.icon-volume-2:before {
  content: "\e0a0";
}
.icon-volume-off:before {
  content: "\e0a1";
}
.icon-calendar:before {
  content: "\e075";
}
.icon-bulb:before {
  content: "\e076";
}
.icon-chart:before {
  content: "\e077";
}
.icon-ban:before {
  content: "\e07c";
}
.icon-bubble:before {
  content: "\e07d";
}
.icon-camrecorder:before {
  content: "\e07e";
}
.icon-camera:before {
  content: "\e07f";
}
.icon-cloud-download:before {
  content: "\e083";
}
.icon-cloud-upload:before {
  content: "\e084";
}
.icon-envelope:before {
  content: "\e086";
}
.icon-eye:before {
  content: "\e087";
}
.icon-flag:before {
  content: "\e088";
}
.icon-heart:before {
  content: "\e08a";
}
.icon-info:before {
  content: "\e08b";
}
.icon-key:before {
  content: "\e08c";
}
.icon-link:before {
  content: "\e08d";
}
.icon-lock:before {
  content: "\e08e";
}
.icon-lock-open:before {
  content: "\e08f";
}
.icon-magnifier:before {
  content: "\e090";
}
.icon-magnifier-add:before {
  content: "\e091";
}
.icon-magnifier-remove:before {
  content: "\e092";
}
.icon-paper-clip:before {
  content: "\e093";
}
.icon-paper-plane:before {
  content: "\e094";
}
.icon-power:before {
  content: "\e097";
}
.icon-refresh:before {
  content: "\e098";
}
.icon-reload:before {
  content: "\e099";
}
.icon-settings:before {
  content: "\e09a";
}
.icon-star:before {
  content: "\e09b";
}
.icon-symbol-female:before {
  content: "\e09c";
}
.icon-symbol-male:before {
  content: "\e09d";
}
.icon-target:before {
  content: "\e09e";
}
.icon-credit-card:before {
  content: "\e025";
}
.icon-paypal:before {
  content: "\e608";
}

.social a[href*="tumblr.com"]:before,
.icon-social-tumblr:before {
  content: "\e00a";
}

.social a[href*="twitter.com"]:before,
.icon-social-twitter:before {
  content: "\e009";
}

.social a[href*="facebook.com"]:before,
.icon-social-facebook:before {
  content: "\e00b";
}

.social a[href*="instagram.com"]:before,
.icon-social-instagram:before {
  content: "\e609";
}

.social a[href*="linkedin.com"]:before,
.icon-social-linkedin:before {
  content: "\e60a";
}

.social a[href*="pinterest.com"]:before,
.icon-social-pinterest:before {
  content: "\e60b";
}

.social a[href*="github.com"]:before,
.icon-social-github:before {
  content: "\e60c";
}

.social a[href*="google.com"]:before,
.icon-social-google:before {
  content: "\e60d";
}

.social a[href*="reddit.com"]:before,
.icon-social-reddit:before {
  content: "\e60e";
}
.icon-social-skype:before {
  content: "\e60f";
}

.social a[href*="dribbble.com"]:before,
.icon-social-dribbble:before {
  content: "\e00d";
}
.icon-social-behance:before {
  content: "\e610";
}
.icon-social-foursqare:before {
  content: "\e611";
}
.icon-social-soundcloud:before {
  content: "\e612";
}
.icon-social-spotify:before {
  content: "\e613";
}

.social a[href*="stumbleupon.com"]:before,
.icon-social-stumbleupon:before {
  content: "\e614";
}

.social a[href*="youtube.com"]:before,
.icon-social-youtube:before {
  content: "\e008";
}

.icon-social-dropbox:before {
  content: "\e00c";
}
.icon-social-vkontakte:before {
  content: "\e618";
}
.icon-social-steam:before {
  content: "\e620";
}

/*
.social a[href*="facebook.com"]:before {
  content: "F";
}

.social a[href*="vimeo.com"]:before {
  content: "V";
}
*/

/* Colours */
.social a[href*="dribbble.com"]:hover:before {
  background: #ea4c89;
}

.social a[href*="facebook.com"]:hover:before {
  background: #3b5998;
}

.social a[href*="flickr.com"]:hover:before {
  background: #ff0084;
}

.social a[href*="github.com"]:hover:before {
  background: #24292e;
}

.social a[href*="google.com"]:hover:before {
  background: #dd4b39;
}

.social a[href*="instagram.com"]:hover:before {
  background: #517fa4;
}

.social a[href*="linkedin.com"]:hover:before {
  background: #007bb6;
}

.social a[href*="pinterest.com"]:hover:before {
  background: #cb2027;
}

.social a[href*="getpocket.com"]:hover:before {
  background: #ef4056;
}

.social a[href*="reddit.com"]:hover:before {
  background: #ff5700;
}

.social a[href*="stumbleupon.com"]:hover:before {
  background: #eb4924;
}

.social a[href*="tumblr.com"]:hover:before {
  background: #2c4762;
}

.social a[href*="twitter.com"]:hover:before {
  background: #00aced;
}

.social a[href*="vimeo.com"]:hover:before {
  background: #aad450;
}

.social a[href*="youtube.com"]:hover:before {
  background: #b00;
}

/*--------------------------------------------------------------
6.0 Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  6.1 Links
--------------------------------------------------------------*/
a {
    color: #932817;
    text-decoration: none;
}

a:visited {
    color: #943526;
}

a:hover,
a:focus,
a:active {
    color: #712012;
}


/*--------------------------------------------------------------
  6.2 Menus
--------------------------------------------------------------*/
/* Main site navigation (most code is within media queries) */
.site-navigation {
    border-top: none;
}

.site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
}

.site-navigation .menu li {
    margin: 0;
}

.site-navigation a {
    display: block;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
}

/* In-page or in-post navigation */
.navigation-post {
    line-height: 1.6;
}

.navigation-post .previous {
    text-align: left;
}

.navigation-post .next {
    text-align: right;
}

.navigation-post .previous a,
.navigation-post .next a {
    color: #a09a92;
    display: block;
    font-style: italic;
    position: relative;
}

.previous .meta-nav,
.next .meta-nav {
    color: #787065;
    display: block;
    font-family: Montserrat;
    font-size: 12px;
    font-size: 1.2rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.previous .meta-nav a,
.next .meta-nav a {
    color: #787065;
    display: inline;
    font-style: normal;
}

.previous .meta-nav a:before,
.next .meta-nav a:after,
.previous a .meta-nav:before,
.next a .meta-nav:after {
    border: solid transparent 4px;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0.5rem;
    top: 0.8em;
    width: 0;
}

.previous .meta-nav a:before,
.previous a .meta-nav:before {
    border-left: 0;
    border-right-color: #a09a92;
}

.next .meta-nav a:after,
.next a .meta-nav:after {
    border-left-color: #a09a92;
    border-right: 0;
}

.tag-head {
    color: #787065;
    display: block;
    font-family: Montserrat;
    font-size: 16px;
    font-size: 1.6rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.tag-head:before {
    content: "\E027\ ";
    display: inline-block;
    font-family: libretto-icons;
    font-size: 20px;
    font-size: 2.0rem;
    margin: 0 0.25rem;
    text-shadow: none;
    text-transform: none;
    vertical-align: -4px;
}

.tag-list {
    margin-bottom: -20px;
}

.tag-list a {
    display: inline-block;
    background: #faf9f5;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    font-size: 14px;
    color: #787065;
    margin: 0.5rem 0.25rem;
}


/*--------------------------------------------------------------
7.0 Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  7.1 Posts and pages
--------------------------------------------------------------*/

/* Post format icons, need title-block to work */
.post-format-icon-pin:before {
    content: "p";
}

.post-format-icon-star:before {
    content: "y";
}

.post-format-icon-none:before {
    /* content: ""; */
}

.post-format-icon-lock:before {
    content: "w";
}

.post-format-icon-search:before {
    content: "o";
}

.title-block:before {
    background: #faf9f5;
    border: 1px solid #d9d6d0;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #faf9f5;
    color: #a09a92;
    display: inline-block;
    font-family: libretto-icons;
    font-size: 21px;
    line-height: 21px;
    margin: 1rem auto 2rem;
    padding: 10px;
    text-shadow: none;
}

.title-block {
    border-bottom: 1px solid #d9d6d0;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    word-wrap: break-word;
}

.entry-meta {
    color: #a09a92;
    font-style: italic;
    line-height: 1.4;
}

.entry-meta a {
    color: #787065;
}

.title-block .entry-meta:before,
.title-block .entry-meta:after {
    color: #d9d6d0;
    content: "~";
    display: inline-block;
    font-family: libretto-icons;
    font-size: 24px;
    margin: 0 0.25rem;
    text-shadow: none;
    vertical-align: -6px;
}

.title-block .entry-meta:after {
    content: "`";
    margin-left: -4px;
}

/* Drop cap and first line */
.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type:first-letter {
    color: #b7b1a9;
    display: inline-block;
    float: left;
    font-family: "Playfair Display";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: 6px 10px 0 -5px;
}

.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type:first-line {
    color: #787065;
    font-family: "Playfair Display SC";
    font-size: 1em;
    font-style: normal !important; /* Cheat to preserve visual sanity */
    font-weight: bold;
    letter-spacing: 1px;
}

.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type::after {
    clear: both;
    content: "";
    display: block;
}

.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type + p {
    clear: left;
}

.libretto-long-form {
    background: #faf9f5;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}

/* "Read more" link */
.more,
.more>a {
    color: #a09a92;
    display: inline-block;
    font-family: "Playfair Display";
    font-size: 21px;
    font-size: 2.1rem;
    font-style: italic;
    line-height: 1.4;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
}

.more>a:before,
.more>a:after {
    display: inline;
    font-size: 1.5em;
    font-style: normal;
    padding: 0 10px;
    vertical-align: -0.15em;
}

.more>a:before {
    content: "{";
}

.more>a:after {
    content: "}";
}

.more>a:hover {
    color: #712012;
}

/* Different color for index titles */
article .title-block h1 a {
    color: #787065;
}

/*--------------------------------------------------------------
8.0 Widgets
--------------------------------------------------------------*/

.footer-sidebar {
    background: #faf9f5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    margin: 2rem 0 2rem 0;
    width: 100%;
}

.footer-sidebar .widget-block {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 0rem 3rem;
}

.widget-title {
    border-bottom: 1px solid #d9d6d0;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.widget-text {
    color: #a09a92;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
}


/*--------------------------------------------------------------
11.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}

.clear:after,
.entry-content:after,
.site-content:after,
.site-footer:after {
    clear: both;
}


/*--------------------------------------------------------------
14 Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  14.1 Phone-sized devices
--------------------------------------------------------------*/
@media only screen and (max-width: 640px) {

    /* Tweak font sizes and margins */
    body {
        font-size: 16px;
        font-size: 1.6rem;
    }

    blockquote {
        font-size: 24px;
        font-size: 2.4rem;
    }

    ul,
    ol {
        margin-left: 1em;
    }

    .site-content {
        font-size: 16px;
        font-size: 1.6rem;
        margin: 0;
        max-width: none;
        min-width: 320px;
        padding: 0 10px;
    }

    .site-branding {
        display: none;
    }

    /* Use a condensed mobile menu */
    .site-navigation {
        background: #26231e;
        width: 100%;
    }

    .site-navigation a {
        color: #cacabc;
    }

    .menu-toggle {
        background: #363431;
        border-bottom: 2px solid #787065;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        color: #eae9e6;
        cursor: pointer;
        display: block;
        font-size: 21px;
        font-size: 2.1rem;
        line-height: 1.4;
        margin: 0;
        min-height: 5rem;
        padding: 1.5rem 1.5rem;
        position: relative;
        z-index: 50;
    }

    /* Style menu items a bit differently */
    .site-navigation .menu li {
        border-top: 1px solid #787065;
        display: block;
        text-align: left;
    }

    .title-block:before {
        display: none;
    }

    .title-block {
        margin-bottom: 2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .entry-meta {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .title-block h1 {
        font-size: 28px;
        font-size: 2.8rem;
    }

    /* Long-form posts should be full-width, plus padding */
    .libretto-long-form {
        margin-left: -10px;
        padding: 10px;
        width: calc(100% + 20px);
    }

    /* Footer is arranged in a stack */
    .site-footer .site-info,
    .social {
        padding: 0.75rem 0.5rem;
        text-align: center;
        width: 100%;
    }

    /* In-page navigation should be pretty simple */
    .navigation-post .previous,
    .navigation-post .next {
        padding: 1rem 0;
        text-align: center;
        width: 100%;
    }

    .navigation-post .previous {
        border-bottom: 1px solid #d9d6d0;
    }

    .navigation-post .previous,
    .navigation-post .next {
        text-align: center;
    }

    .tag-head {
        text-align: center;
        font-size: 14px;
        font-size: 1.4rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .tag-head:before {
        font-size: 18px;
        font-size: 1.8rem;
        vertical-align: -3px;
    }

    .tag-list {
        text-align: center;
        border-bottom: 1px solid #d9d6d0;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

}


/*--------------------------------------------------------------
  14.2 Tablets and up
--------------------------------------------------------------*/
@media only screen and (min-width: 641px) {

    .site-branding {
        float: left;
        margin: 0.75rem 1rem 1rem 1.5rem;
    }

    /* Main menu is styled differently from mobile */
    .menu-toggle {
        display: none;
    }

    .site-navigation {
        display: block;
        float: right;
        font-size: 16px;
        font-size: 1.6rem;
        margin: 0.75rem 2rem 0.5rem 1rem;
        position: relative;
    }

    .site-navigation .menu > li {
        display: inline-block;
        line-height: 1;
        margin: 0.25rem 0;
        position: relative;
    }

    .site-navigation li a {
        border-bottom: 2px solid transparent;
        color: #787065;
        padding: 1rem 1rem 0.8rem;
    }

    .site-navigation a:hover {
        border-bottom: 2px solid #999;
        color: #363431;
    }

    .title-block {
        margin: 10rem auto 1.5rem;
        display: block;
    }

    .libretto-long-form {
        margin-left: -1.5em;
        margin-right: -1.5em;
        max-width: calc(100% + 3em);
        padding: 1.5em;
    }

    /* Use a bigger drop cap */
    .format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type:first-letter {
        font-size: 121px;
        line-height: 70px;
        margin: 6px 10px 0 -5px;
    }

    /* Footer can stretch out a bit */
    .site-footer {
        padding: 0 2rem 1rem;
        width: 100%;
    }

    .site-footer .site-info {
        float: left;
    }

    .social {
        float: right;
        line-height: 1;
    }

    /* In-page navigation can be arranged in floats and take up a bit more space */
    .navigation-post {
        border-top: 1px solid #d9d6d0;
    }

    .navigation-post .previous,
    .navigation-post .next {
        float: left;
        margin: 2rem 0;
        width: 50%;
    }

    .navigation-post .next {
        border-left: 1px solid #d9d6d0;
        min-height: 4.8rem;
    }

}


/*--------------------------------------------------------------
  14.3 Desktops and big things
--------------------------------------------------------------*/
@media only screen and (min-width: 860px) {

    .site-branding {
        margin-left: 4rem;
    }

    .libretto-long-form {
        margin-left: -3em;
        margin-right: -3em;
        max-width: calc(100% + 6em);
        padding: 3em 3em 1em;
    }

    /* Footer can be spaced out more, too */
    .site-footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }

}